each item, i in results
  li.ph3.pv3.bb.b--light-silver
    .mr1.pv1.dib.v-top.silver.f6=`${startIndex + i}.`
    .pv1.dib.w-90
      a.f6.lh-title.mr1.silver.no-underline(href=item.webUrl)=item.webTitle
    .pv1.f7.lh-copy=item.fields.trailText
